accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
arabic-reshaper
asn1crypto
attrs
backoff
beautifulsoup4
blinker
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
coloredlogs
contourpy
cryptography
cssselect2
cycler
dataclasses-json
Deprecated
distro
duckduckgo_search
effdet
emoji
faiss-cpu
filelock
filetype
Flask
flask_limiter
flatbuffers
fonttools
frozenlist
fsspec
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
h11
hf-xet
html5lib
httpcore
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langdetect
langsmith
lxml
MarkupSafe
marshmallow
matplotlib
mpmath
multidict
mypy_extensions
nest-asyncio
networkx
nltk
numpy
olefile
omegaconf
onnx
onnxruntime
openai
opencv-python
orjson
oscrypto
packaging
pandas
pdf2image
pdfminer.six
pi_heif
pikepdf
pillow
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
pydyf
pyHanko
pyhanko-certvalidator
pyparsing
pypdf
pypdfium2
pyphen
python-bidi
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
python-pptx
pytz
PyYAML
RapidFuzz
regex
reportlab
requests
requests-toolbelt
rsa
safetensors
scipy
six
sniffio
soupsieve
SQLAlchemy
svglib
sympy
tenacity
tiktoken
timm
tinycss2
tinyhtml5
tokenizers
torch
torchvision
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
uritools
urllib3
weasyprint
webencodings
Werkzeug
wrapt
xhtml2pdf
XlsxWriter
yarl
zopfli
zstandard
